/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

:root {
  --heroBanner-background-image: url('https://raw.githubusercontent.com/renaudjmathieu/my-website/main/www/static/img/text_covers_undraw_plus_edd018_ec008c.png');
}
[data-theme='dark'] {
  --heroBanner-background-image: url('https://raw.githubusercontent.com/renaudjmathieu/my-website/main/www/static/img/text_covers_undraw_plus_ec008c_edd018.png');
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: var(--heroBanner-background-image);
  background-size:100% 100%;
}


@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroSvg {
  width: 30vmin;
  pointer-events: none;
  margin-top: 6vmin;
  margin-left: auto;
  margin-right: auto;
  fill: #ec008c;
}
.heroSvg [fill='#fff'] {
  fill: #edd018;
}
.heroSvg [fill='#ccc'] {
  fill: #eda62f;
}
.heroSvg [fill='#666'] {
  fill: #ec535e;
}

@media (prefers-reduced-motion: no-preference) {
  .heroSvg {
    animation: heroSvg-spin infinite 20s linear;
  }
}

@keyframes heroSvg-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/** In mobile view, hide the image */
@media screen and (max-width: 996px) {
  .heroSvg {
    display: none;
  }
}
