:root {
  --banner-background-image: linear-gradient(to bottom right, #edd018 0%, #eda62f 20%, #ec535e 58%, #ec008c 100%);
}

[data-theme='dark'] {
  --banner-background-image: linear-gradient(to bottom right, #ec008c 0%, #ec535e 42%, #eda62f 80%, #edd018 100%);
}

.banner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: var(--banner-background-image);
  background-size: 100% 100%;
}


@media screen and (max-width: 991px) {
  .banner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroSvg {
  width: 30vmin;
  pointer-events: none;
  margin-top: 6vmin;
  margin-left: auto;
  margin-right: auto;
  fill: #ec008c;
}

.heroSvg [fill='#fff'] {
  fill: #edd018;
}

.heroSvg [fill='#ccc'] {
  fill: #eda62f;
}

.heroSvg [fill='#666'] {
  fill: #ec535e;
}

@media (prefers-reduced-motion: no-preference) {
  .heroSvg {
    animation: heroSvg-spin infinite 20s linear;
  }
}

@keyframes heroSvg-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/** In mobile view, hide the image */
@media screen and (max-width: 991px) {
  .heroSvg {
    display: none;
  }
}

.feature {
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 18vmin;
  width: 18vmin;
}

[data-theme='dark'] .featureSvg [fill='#ec008c'] {
  fill: #edd018;
}

.card-group {
  border:Red 1px solid;
}

.card {
  --bs-card-border-color: Blue 1px solid;
}