.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bannerSvg {
  width: 30vmin;
  pointer-events: none;
  margin-top: 6vmin;
  margin-left: auto;
  margin-right: auto;
}

.bannerSvg [fill='#123456'] {
  fill: #ec008c;
}

.bannerSvg [fill='#fff'] {
  fill: #edd018;
}

.bannerSvg [fill='#ccc'] {
  fill: #eda62f;
}

.bannerSvg [fill='#666'] {
  fill: #ec535e;
}

@media (prefers-reduced-motion: no-preference) {
  .bannerSvg {
    animation: bannerSvg-spin infinite 20s linear;
  }
}

@keyframes bannerSvg-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/** In mobile view, hide the image */
@media screen and (max-width: 991px) {
  .bannerSvg {
    display: none;
  }
}

.feature {}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 14vmin;
  width: 14vmin;
  margin-top: 1vmin;
  margin-bottom: 2vmin;
}