.Header {
  position: relative;
  height: 110vh;
  width: 100%;
  overflow: hidden;
}

.Header__content {
  margin: 30vh 13em;
  opacity: 0.9;
  z-index: 1;
}

.Header__content__title {
  padding-left: 1.6em;
}

.Header__content__title__sub {
  padding-left: 0.6em;
  font-size: 1.5vw;
}

.Header__content__title__main {
  font-size: 6vw;
  line-height: 1em;
  margin: .2em 0 .6em;
  font-weight: bold;
}

.Header__content__text {
  max-width: 1200px;
}

.Header__content__text__item {
  text-align: center;
}

.Header__content__text__item__img svg {
  height: 12vmin;
  width: 12vmin;
  margin-top: 1vmin;
  margin-bottom: 2vmin;
}

.Header__content__text__item__desc {
  padding: 0 0.8em 0 0.8em;
  font-size: 1vw;
}

.Header__content__text__item__desc h5 {
  font-size: 1.2vw;
  line-height: 1.4em;
  margin: .2em 0 .6em;
  font-weight: bold;
}

@media (max-width: 900px) {
  .Header {
    max-height: 34em;
  }

  .Header__content {
    margin: 6em 50px;
  }

  .Header__content__title {
    max-width: 100vw;
  }

  .Header__content__title__main {
    font-size: 40px;
  }
}

@media (max-width: 600px) {
  .Header__content {
    margin: 6em 1em;
  }

  .Header__content__title__sub {
    padding-left: 0;
  }

  .Header__content__title__main {
    font-size: 1.5em;
  }
}