.brandSvg {
    height: 36px;
    width: 36px;
    margin-left: 5px;
}

.brandSvg [fill='#123456'] {
    fill: #000;
}

.brandSvg [fill='#fff'] {
    fill: #fff;
}

.brandSvg [fill='#ccc'] {
    fill: #ccc;
}

.brandSvg [fill='#666'] {
    fill: #666;
}

.navLeft {}

.navRight {
    margin-right: 0.5rem;
}

.imgLink {
    height: 28px;
    width: 28px;
    margin: 5px 0 0 10px;
}

@media screen and (max-width: 991px) {
    .imgLink {
        height: 32px;
        width: 32px;
        margin: 8px 0 5px 0;
    }
    .navRight {
        margin-bottom: 0.5rem;
    }
  }