:root {
    --theme-light-color-primary: #ec008c;
    --theme-light-color-primary-dark: #d4007e;
    --theme-light-color-primary-darker: #c90077;
    --theme-light-color-primary-darkest: #a50062;
    --theme-light-color-primary-light: #ff0599;
    --theme-light-color-primary-lighter: #ff109e;
    --theme-light-color-primary-lightest: #ff34ac;
    
    --theme-dark-color-primary: #edd018;
    --theme-dark-color-primary-dark: #dabf11;
    --theme-dark-color-primary-darker: #ceb410;
    --theme-dark-color-primary-darkest: #a9940d;
    --theme-dark-color-primary-light: #efd530;
    --theme-dark-color-primary-lighter: #f0d73c;
    --theme-dark-color-primary-lightest: #f3df61;

    --dark-color: rgb(33, 37, 41);
    --light-color: rgb(248, 249, 250);
}

.theme-light {
    color: var(--dark-color);
}
.theme-dark {
    color: var(--light-color);
}

.theme-light .dropdown-menu {
    background-color: var(--light-color);
    border-color: var(--theme-light-color-primary);
}
.theme-dark .dropdown-menu {
    background-color: var(--dark-color);
    border-color: var(--theme-dark-color-primary);
}

.theme-light .dropdown-item {
    color: var(--dark-color);
}
.theme-light .dropdown-item:hover {
    color: var(--light-color);
    background-color: var(--theme-light-color-primary-dark);
}
.theme-light .dropdown-item:active {
    color: var(--light-color);
    background-color: var(--theme-light-color-primary-darker);
}
.theme-dark .dropdown-item {
    color: var(--light-color);
}
.theme-dark .dropdown-item:hover {
    color: var(--dark-color);
    background-color: var(--theme-dark-color-primary-dark);
}
.theme-dark .dropdown-item:active {
    color: var(--dark-color);
    background-color: var(--theme-dark-color-primary-darker);
}

.theme-light .navbar-nav .nav-link {
    color: var(--dark-color);
}
.theme-light .navbar-nav .nav-link:hover {
    color: var(--theme-light-color-primary);
}
.theme-light .navbar-nav .nav-link.active {
    color: var(--theme-light-color-primary);
}
.theme-dark .navbar-nav .nav-link {
    color: var(--light-color);
}
.theme-dark .navbar-nav .nav-link:hover {
    color: var(--theme-dark-color-primary);
}
.theme-dark .navbar-nav .nav-link.active {
    color: var(--theme-dark-color-primary);
}

.theme-light .btn {
    color: var(--light-color);
    background-color: var(--theme-light-color-primary);
    border-color: var(--theme-light-color-primary);
}
.theme-light .btn:hover {
    color: var(--light-color);
    background-color: var(--theme-light-color-primary-dark);
    border-color: var(--theme-light-color-primary-dark);
}
.theme-light .btn:active {
    color: var(--light-color);
    background-color: var(--theme-light-color-primary-darker);
    border-color: var(--theme-light-color-primary-darker);
}
.theme-dark .btn {
    color: var(--dark-color);
    background-color: var(--theme-dark-color-primary);
    border-color: var(--theme-dark-color-primary);
}
.theme-dark .btn:hover {
    color: var(--dark-color);
    background-color: var(--theme-dark-color-primary-dark);
    border-color: var(--theme-dark-color-primary-dark);
}
.theme-dark .btn:active {
    color: var(--dark-color);
    background-color: var(--theme-dark-color-primary-darker);
    border-color: var(--theme-dark-color-primary-darker);
}